{% extends 'NataliaTadeuszBundle::bars.html.twig' %}

{% block header %}
	<h1 class="text-muted" align="center">List of Reflection</h1>
{% endblock %}

{% block content %}
	
	<table class="table table-hover">
		<head>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Text</th>
				<th>Author</th>
				<th>Created date</th>
			</tr>
		</head>
		<tbody>
			{%for reflection in reflections %}
				<tr>
					<td>{{ reflection.id }}</td>
					<td>{{ reflection.title }}</td>
					<td>{{ reflection.text }}</td>
					<td>{{ reflection.autor }}</td>
					<td>{{ reflection.createDate|date("m/d/Y") }}</td>
				</tr>
			{% endfor %}
		</tbody>
		
{% endblock %}
