{% extends 'NataliaTadeuszBundle::layout.html.twig' %}

{% block menu %}					
	<ul class="list-group" >
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_homepage')}}">Main page</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_reflections_index')}}">List of Reflections</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_reflections_add')}}">Add Reflection</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_book', {'book': "1"})}}">First Book</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_book', {'book': "2"})}}">Second Book</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_book', {'book': "3"})}}">Third Book</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_book', {'book': "4"})}}">Fourth Book</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_book', {'book': "5"})}}">Fifth Book</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_book', {'book': "6"})}}">Sixth Book</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_book', {'book': "7"})}}">Seventh Book</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_book', {'book': "8"})}}">Eighth Book</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_book', {'book': "9"})}}">Ninth Book</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_book', {'book': "10"})}}">Tenth Book</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_book', {'book': "11"})}}">Eleventh Book</a></li>
		<li class="list-group-item"><a href="{{path('natalia_tadeusz_book', {'book': "12"})}}">Twelfth Book</a></li>
	</ul>
{% endblock %}